.cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-around;
    justify-items: center;
    padding: 2px 40px;
}


@media screen and (max-width:825px){
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
} 