.card {
  background-color: rgb(231, 198, 248);
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(157, 5, 63);
  border-radius: 4px;
  width: 140px;
  font-size: 0.5em;
}
.card img{
    width: 140px;
}
.card button{
    font-size: 0.8em;
    font-weight: bold;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(221, 182, 233);
    border: 1px solid rgb(221, 101, 179);
}
.card button:hover{
  background-color: rgb(236, 182, 243);
  border: 1px solid rgb(217, 6, 91);
}
.close{
  display: flex;
  justify-content: flex-end;
}
.info{
  text-align: center;
}
.info img{
  border-radius: 40px;
}
